/*stylesheet.css*/
html {
  background-color: #120c0c;
  font-family: dubai;
  font-size: 1em;
}
body{
    text-align: center;
}
.titles {
    font-size: 2em;
    font-family: anurati
}
header {
    background-color: #0400ff
}
.texte {
    color: #ffffff;
}
.titles2 {
    font-family: Bell MT;
    font-size: 2em;
    color: #ffffff
}
.arti1{
    background-color: #222222
}
.arti2{
    background-color: #313131
}
.arti3{
    background-color: #444444
}
ul{
    display: inline-block;
}
li{
    max-width: 50%;
    display: inline-block;
}
footer {
     background-color: #231C1C;
     text-align: center;
     font-family: fantasy
 }