/*stylesheet.css*/
html {
  background-color: #120c0c;
  font-family: dubai;
  text-align: center
}
.titles {
    font-size: 2em;
    font-family: anurati
}
header {
    background-color: #0400ff
}
.texte {
    color: #ffffff
}
.titles2 {
    font-family: Bell MT;
    font-size: 2em;
    color: #ffffff
}
.arti{
    background-color: #03011b
}
}
html{
    font-size: 1em
    
}
ul{
    display: inline-block;
}
li{
    max-width: 50%;
    display: inline-block;
}
footer {
     background-color: #231C1C
 }