/*stylesheet.css*/
html {
  background-color: #120c0c;
  font-family: dubai;
  font-size: 1em;
}
body{
    text-align: center;
}
.titles {
    font-size: 2em;
    font-family: anurati
}
header {
    background-color: #0011FF
}
.texte {
    color: #ffffff;
}
.titles2 {
    font-family: Bell MT;
    font-size: 2em;
    color: #ffffff
}
.arti1{
    background-color: #222222;
    margin: 0px 70px 0px 70px
}
.arti2{
    background-color: #313131;
    margin: 0px 70px 0px 70px
}
.arti3{
    background-color: #444444;
    margin: 0px 70px 0px 70px
}
.asdf{
    margin: 15px 0px 0px 0px
}
.nav2{
    margin: 0.5px 12px 0px 12px;
}
ul{
    display: inline-block;
}
li{
    max-width: 50%;
    display: inline-block;
}
.ghjk{
    margin: 0px 0px 20px 0px
}
footer {
     background-color: #231C1C;
     text-align: center;
     font-family: fantasy;
     font-size: 13pt
 }
