/*stylesheet5.css*/
html {
  background-color: #120c0c;
  font-family: dubai;
  font-size: 1em;
}
body{
    text-align: center
}
.maintitle{
    font-size: 4em;
    font-family: anurati;
    color:white;
    text-align: center;
    width: 100%
}
.titles {
    font-size: 2em;
    font-family: anurati
}
header {
    background-color: #0011FF;
    width: 100%
}
.CC {
    background-color: #120c0c;
    width: 50em;
    height:30em;
    border: 1px solid #ffffff;
    overflow: auto;
    margin:2em;
    padding: 0em;
    

}

.subCCs {
    background-color: #120c0c;
    width: 30em;
    height:30em;
    border: 1px solid #ffffff;
    overflow: auto;
    margin:2em;
    padding: 0em;
}
.texte {
    color: #ffffff;
    width: 10%;
    
}
.titles2 {
    font-family: Bell MT;
    font-size: 2em;
    color: #ffffff
}
.arti1{
    background-color: #222222;
    margin: 0px 70px 0px 70px;
    width: 90%
}
.arti2{
    background-color: #313131;
    margin: 0px 70px 0px 70px;
    width: 90%
}
.arti3{
    background-color: #444444;
    margin: 0px 70px 0px 70px;
    width: 90%
}
.asdf{
    margin: 15px 0px 0px 0px;
}
.nav2{
    margin: 0.5px 12px 0px 12px;
}
ul{
    display: inline-block;
    color: #ff8800;
}
li{
    max-width: 50%;
    display: inline-block;
}
.emg {
    border-radius: 25px / 0px;
    padding: 10px;
    margin-bottom: 20px;

}
.ghjk{
    border-radius: 25px / 0px;
    padding: 10px;
    margin-bottom: 20px;
    max-width: 20%
    
    
}
footer {
     background-color: #863535;
     text-align: center;
     font-family: fantasy;
     font-size: 13pt;
     margin-top:200em;
 }
 .asideleft{
     position: absolute;
     float: left;
     width: 20%;
     max-height: 100%;
     font-size: 25px;
     font-family: Caviar Dreams;
     color: #ff8800;
     text-align: left;
     background-color: #0011FF;
 }
main{
    max-width: 65%;
    float: right;
}
